
/********** HEADER **********/

nav {
	padding: 10px;
}

#nav-links li {
	display: inline-block;
	margin: 4px;
	font-size: 1.25em;
}

#nav-links a::before,
#nav-links a::after {
	color: var(--link-decoration);
	display: none;
	font-weight: bold;
}
#bannerimage {
	background-image: url(/coding.jpeg);
	width: 100%;
	height: 156px;
	background-color: white;
	box-shadow: #0000003d;
	background-position: center;
  } 

nav {
    
    margin-bottom: 1em; /*This places space between elements.*/
    font-weight: bold;
    text-align: center;
	border-color: rgba(0, 0, 0, 0.103);        
	margin-top: 9em; 
	width: 33%;
	float: left; 
}

nav ul {
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li {
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.25em;
}

nav ul li a {
    color: white;
    text-decoration: none; 
}

h1,
h2,
h3 {
	font-family: 'Roboto Mono', monospace;
	color: var(--main-txt);
}

h1 {
	font-size: 2em;
}

.heading {
	display: flex;
	justify-content: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em;
	padding: 1rem;
}

p {
	color: var(--secondary-txt);
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: var(--main-clr);
	font-family: 'Roboto Mono', monospace;
}


section {
	padding: 2rem 0rem 2rem 0rem;
	width: 70%;
	margin: 0 auto;
}

section:target {
	padding-top: 75px;
}


hr {
	width: 40%;
	height: 2px;
	margin: 0 auto;
	background-color: var(--accent2);
	border: none;
}



/********** INTRODUCTION  **********/

main 

#welcome-wrapper {
	padding: 10rem 0em;
	margin-left: 19em;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	align-items: center;
}

#greeting-wrapper {
	display: grid;
	grid-template-areas:
		'img greeting'
		'img role';
	align-items: left;
	overflow: hidden;
	width: 600px;
	margin: 10px auto;
	border-radius: 10px;
	-webkit-box-shadow: 15px 15px 10px var(--accent2);
	box-shadow: 15px 15px 10px var(--accent2);
	transform: scale(1.25);
	transition: transform ease-in 5s;
}


h1 {
	grid-area: greeting;
	justify-self: center;
}

h1 > span {
	display: block;
	color: var(--accent2);
}

#greeting-wrapper > p {
	grid-area: role;
	background-color: var(--accent1);
	grid-column: 1/-1;
	text-align: right;
	padding: 10px;
	font-size: 1.25em;
	color: var(--secondary-clr);
	margin: 0;
}

/********** BIOGRAPHY STYLES **********/

#bio {
	width: 75%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	line-height: 2;
}

#skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

#skills img,
.socials img {
	width: 100px;
	margin: 10px;
}

i {
	font-size: 100px;
	margin: 10px;
}

/********** PROJECTS STYLES **********/

#projects {
	text-align: center;
}

#project-container {
	display: grid;
	justify-content: center;
	align-items: start;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, 320px);
}

#project-container img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	display: block;
}

.project {
	display: grid;
	justify-items: center;
	border-radius: 10px;
	overflow: auto;
	-webkit-box-shadow: 5px 5px 10px var(--link-shadow);
	box-shadow: 3px 3px 3px var(--link-shadow);
}

.project:hover {
	transform: scale(1.05);
	-webkit-box-shadow: 5px 5px 10px var(--accent2);
	box-shadow: 3px 3px 3px var(--accent2);
}

.description {
	background-color: var(--secondary-clr);
	padding: 5px;
}

.button {
	display: inline-block;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--button-color);
	border: none;
	cursor: pointer;
	color: var(--main-clr);
}

/********** CONTACT STLYES **********/

#contact-form {
	color: var(--secondary-txt);
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	background-color: var(--secondary-clr);
	padding: 20px;
	font-family: 'Roboto Mono', monospace;
}

#contact-form label {
	line-height: 2.5em;
}

.input-field {
	background-color: var(--main-clr);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	font-size: 16px;
	padding: 10px 0;
	width: 100%;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 16px;
}

#submit-btn {
	background-color: var(--button-color);
	margin-top: 10px;
	padding: 20px 0;
	color: var(--main-clr);
	border: none;
	width: 100%;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Roboto Monospace', monospace;
}

.socials {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer,
footer a {
	font-size: 14px;
	color: #000;
	font-family: 'Roboto Monospace', monospace;
	text-align: center;
}
/********** MEDIA QUERIES *********/

@media screen and (max-width: 900px) {
	#nav-toggle,
	#hamburger {
		display: block;
		z-index: 1000;
	}

	#nav-links {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform: translateX(100%);
		transition: transform 250ms ease-in-out;
		text-align: center;
		background-color: var(--accent2);
		border: 2px solid var(--accent2);
		margin-top: 0;
		z-index: 5;
	}

	#nav-links li {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#greeting-wrapper,
	#greeting-wrapper:hover {
		transform: scale(1);
		transition: none;
	}
}

@media screen and (max-width: 600px) {
	#welcome-wrapper {
		width: 100%;
	}

	#greeting-wrapper {
		grid-template-areas:
			'img'
			'greeting'
			'role ';
		width: 90%;
		margin: 0 auto;
	}

	#hero {
		clip-path: circle(55%);
		justify-self: center;
	}

	#greeting-wrapper > p {
		text-align: center;
	}

	#bio,
	#skills-container {
		width: 90%;
	}

	#greeting-wrapper {
		-webkit-box-shadow: 0px 15px 10px var(--accent2);
		box-shadow: 0px 15px 10px var(--accent2);
	}
	#contact {
		width: 90%;
	}
	#contact-form {
		max-width: 90%;
	}
}