/********** UNVIVERSAL STLYES **********/

:root {
	--main-clr: #fff;
	--secondary-clr: #f3eee9;

	--main-txt: #000;
	--secondary-txt: #4b4b4b;

	--accent1: #950952;
	--accent2: #e46c1c;

	--theme-border: #000;
	--link-decoration: var(--accent1);
	--link-shadow: #6e6e6e;
	--button-color: var(--accent2);
	--border-color: #c1c1c1;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--main-clr);
	transition: all 0.3s;
}

h1,
h2,
h3 {
	font-family: 'Roboto Mono', monospace;
	color: var(--main-txt);
}

h1 {
	font-size: 2em;
}

.heading {
	display: flex;
	justify-content: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em;
	padding: 1rem;
}

p {
	color: var(--secondary-txt);
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: var(--main-clr);
	font-family: 'Roboto Mono', monospace;
}

ul {
	list-style-type: none;
}

section {
	padding: 2rem 0rem 2rem 0rem;
	width: 70%;
	margin: 0 auto;
}

section:target {
	padding-top: 75px;
}

.icon {
	display: block;
	width: 75px !important;
	margin: 0 auto 10px !important;
}

hr {
	width: 40%;
	height: 2px;
	margin: 0 auto;
	background-color: var(--accent2);
	border: none;
}

/********** HEADER **********/

header {
	display: flex;
	justify-content: space-between;
	align-items: left;
	height: 175px;
	background-color: var(--accent2);
	position: fixed;
	width: 100%;
	z-index: 10;
}

#theme-options {
	display: flex;
	padding: 10px 20px;
}

.theme {
	width: 30px;
	height: 30px;
	border: 1px solid var(--theme-border);
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	-webkit-box-shadow: 3px 3px 3px 0px #504e4e;
	box-shadow: 3px 3px 3px 0px #504e4e;
}

.theme:hover,
.theme:focus {
	border-width: 3px;
}

#light {
	background-color: #fff;
}

#blue {
	background-color: #001744;
}

#orange{
	background-color: #950952;
}

nav {
	padding: 10px;
}

#nav-links li {
	display: inline-block;
	margin: 0 10px;
	font-size: 1.25em;
}

#nav-links a::before,
#nav-links a::after {
	color: var(--link-decoration);
	display: none;
	font-weight: bold;
}

#nav-links a::before {
	content: '<';
}

#nav-links a::after {
	content: '/>';
}

#nav-links a:hover {
	font-style: italic;
	-webkit-text-shadow: 5px 5px 5px var(--link-shadow);
	text-shadow: 5px 5px 5px var(--link-shadow);
}

#nav-links a:hover::before,
#nav-links a:hover::after {
	display: inline;
}

#nav-toggle {
	padding: 0.5em;
	background: transparent;
	border: none;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 2em;
	right: 1em;
}
